@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* carousel container */
.carousel {
  background: linear-gradient(
    to bottom,
    #0300ad,
    30%,
    #010057
  ); /* blue gradient */
  border: 2px solid #c8c3bd;
  border-radius: 7px;

  padding-top: 2em;
  padding-left: 1.5em;

  height: 50vh;
}
@media (min-width: 627px) {
  .carousel {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 60vh;
    padding-top: 4em;
  }
}
@media (min-width: 940px) {
  .carousel {
    height: 80vh;
    padding-left: 4em;
  }
}

/* slider button styles */
#cbuttonContainer {
  display: flex;
  justify-self: center;
  justify-content: space-between;

  width: 200px;
}
.carouselButton {
  font-family: "Righteous", cursive;
  color: inherit;
  font-size: 4rem;

  background: none;
  border: none;
  cursor: pointer;
}

/* hidden cards */
.hidden {
  display: none;
}
