/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap");

body {
  background-color: #0c2759;
}

/* section {
    background-color: green;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

/* alternative box model */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Main grid layout */

.header {
  grid-area: header;
}

.projects {
  grid-area: projects;
}

.footer {
  grid-area: footer;
}

#index {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "projects"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/* || Typography  */

html {
  font-family: "Lato", sans-serif;
  color: #e7e3de;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* || Index */

/* spacing */

.header {
  margin-left: 2em;
}

.projects {
  margin-left: 2em;
  margin-right: 2em;
}

/* footer links */

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  /* margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em; */
}

.svg {
  filter: invert(100%) sepia(11%) saturate(1153%) hue-rotate(307deg)
    brightness(99%) contrast(82%);
}

.svg:hover {
  filter: invert(54%) sepia(20%) saturate(3005%) hue-rotate(172deg)
    brightness(98%) contrast(95%);
}

/* || 404 */
