/* Center the title */
header {
    text-align:center;
    color:blue; 
    background-color: aqua;
    opacity: 0.5;
}

/* Single spacing */
body {
    line-height: 1;
    font-size: 1.313em;
    background-image: url('../img/hero.jpg');
    background-position: center;
}



/* Spacing and center alignment for links */
h3 {
    line-height:200px;
    text-align:center;
}

/* Spacing between different forms, such as place and time */

section {
    line-height:100px;
}

/* Keep the footer at the bottom of the page */
#page-container {
    position: relative;
    min-height: 100%;
}
#content-wrap {
    padding-bottom: 2.5rem;    
}
footer {
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    background-color: aqua;   
    opacity: 0.5;
}

#place, #date, #time {
    width:20em;
}


