@import url("https://fonts.googleapis.com/css?family=Lato");

/* Font header */
nav,
main,
header,
footer {
  font-family: "Lato", sans-serif;
  color: #b3b3b3;
}

/* Background color */
* {
  background-color: #191919;
}

/* Center the title */
header {
  text-align: center;
}

/* Single spacing */
body {
  line-height: 1;
  font-size: 1.313em;
}

/* Hyperlink color */
a:link,
a:visited {
  color: #666666;
  background-color: transparent;
  text-decoration: none;
}

/* Image spacing */
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Spacing and center alignment for links */
h3 {
  line-height: 200px;
  text-align: center;
}

/* Spacing between different forms, such as place and time */

section {
  line-height: 100px;
}

/* Keep the footer at the bottom of the page */
#page-container {
  position: relative;
  min-height: 100%;
}
#content-wrap {
  padding-bottom: 2.5rem;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  opacity: 0.5;
}

#place,
#date,
#time {
  width: 20em;
}

#top {
  padding: 0.9rem;
}
