/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap");
body {
  background-color: #0d0f10; /* matte black */
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* background for about and individual projects */
.card {
  background: linear-gradient(
    to bottom,
    #0300ad,
    30%,
    #010057
  ); /* blue gradient */
  border: 2px solid #c8c3bd;
  border-radius: 7px;
  padding: 2em;
  margin-bottom: 7em;
  /* width: 414px; */
}
.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.3em;
  justify-items: center;
}

/* images */
.imgWrap {
  display: flex;
  margin-top: 3em;
  margin-right: auto;
}
img {
  width: 49.5vw;
  border-radius: 7px;
}

/* vertically align menu links on the right side of a card*/
.menuWrap {
  display: grid;
  padding-top: 4em;
  height: 70%;
}

/* || Main grid layout */

.header {
  grid-area: header;
}

.about {
  grid-area: about;
}

.projects {
  grid-area: projects;
}

.contact {
  grid-area: contact;
  display: grid;
  justify-content: center;
}

.articles {
  grid-area: articles;
}

#index {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "header"
    "about"
    "projects"
    "contact";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

#err {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "error";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#case_study {
  display: grid;
  gap: 2em;
  grid-template-areas: "header" "articles";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/* || Typography  */

html {
  font-family: "Roboto Mono", monospace;
  color: #c8c3bd; /* off white */
}

h1 {
  font-family: "Press Start 2P", cursive;
  margin-top: 1.5em;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  margin-left: 1.2em;
}

p,
div {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #76c98e; /* light green */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
a:hover {
  color: #a947bf; /* light purple */
}

/* || Index */

#slipsum {
  color: red;
  text-decoration: none;
}

/* spacing */
.header {
  margin-left: 7%;
}

.projects {
  margin-left: 1em;
  margin-right: 1em;
}

.about {
  margin-left: 7%;
  margin-right: 7%;
}

.error {
  margin-left: 7%;
}

/* blinking underscore in title */
.blinking {
  animation: blink 1.4s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* container for form elements  */
#Form {
  display: grid;

  margin-top: 2em;
  width: 400px;
}

/* label styling */
label {
  padding-left: 1.6em;
  padding-bottom: 0.5em;
}

/* styles for form text input */
.formText {
  background: linear-gradient(
    to bottom,
    #0300ad,
    30%,
    #010057
  ); /* blue gradient */
  border: 2px solid #c8c3bd;
  border-radius: 7px;
  padding: 1em;
  margin-bottom: 2em;

  font-family: inherit;
  color: inherit;
}

/* styles for form message  */
#Message {
  height: 10em;
}

/* styles for form button */
#submit {
  background: linear-gradient(
    to bottom,
    #0300ad,
    30%,
    #010057
  ); /* blue gradient */
  border: 2px solid #c8c3bd;
  border-radius: 7px;

  padding: 1em;
  width: 10em;
  font-family: inherit;
  color: inherit;

  justify-self: center;

  margin-bottom: 10em;
}
