/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap");

body {
  background-color: #0c2759;
}

/* section {
    background-color: green;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

/* alternative box model */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Main grid layout */

.header {
  grid-area: header;
}

.about {
  grid-area: about;
}

.projects {
  grid-area: projects;
}

.footer {
  grid-area: footer;
}

#index {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "about"
    "projects"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

/* || Typography  */

html {
  font-family: "Lato", sans-serif;
  color: #e7e3de;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  color: inherit;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #1eabfb;
}

/* || Index */

#slipsum {
  color: #e7e3de;
  text-decoration: none;
}

/* spacing */

.header {
  margin-left: 7%;
}

.projects {
  margin-left: 7%;
  margin-right: 7%;
}

.about {
  margin-left: 7%;
  margin-right: 7%;
}

.error {
  margin-left: 7%;
}

/* footer links */

ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

li {
  list-style-type: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

.svg {
  filter: invert(100%) sepia(11%) saturate(1153%) hue-rotate(307deg)
    brightness(99%) contrast(82%);
  /* transition: fill 0.4s ease; */
}

.svg:hover {
  filter: invert(54%) sepia(20%) saturate(3005%) hue-rotate(172deg)
    brightness(98%) contrast(95%);
  /* transition: fill 0.4s ease; */
}

/* || 404 */

#err {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "error"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
