/* || General Setup  */

@import url("https://fonts.googleapis.com/css?family=Lato");

/* body {
  background-color: blue;
}

section {
    background-color: green;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* alternative box model */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Main grid layout */

/* || Typography  */
